<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mdm.mapper.PackageMappingMapper">

    <select id="getByInnerAndOuter" resultType="org.jeecg.modules.mdm.entity.PackageMapping">
        SELECT * FROM mis_package_mapping WHERE inner_package_id = #{innerPackageId} AND outer_package_id=#{outerPackageId}
    </select>
</mapper>