<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mdm.mapper.RecipeMapper">

    <update id="publishRecipe" parameterType="java.lang.String">
        UPDATE mis_recipe
        SET
            publish_status = '1',           -- 1=已发布
            publish_time = NOW(),           -- 当前时间
            publish_by = #{publishBy},      -- 当前用户
            update_time = NOW()             -- 同步更新更新时间
        WHERE id = #{id}
            AND (publish_status != '1' OR publish_status IS NULL)       --防止重复发布
            AND status = '1'     --未停用

    </update>
</mapper>