<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mdm.mapper.RegionMappingMapper">

    <select id="selectByPrefix" resultType="org.jeecg.modules.mdm.entity.RegionMapping">
        SELECT *
        FROM mis_region_mapping
        WHERE region_type = 'N' AND full_code LIKE CONCAT(#{prefix},'%')
        LIMIT 1
    </select>
</mapper>